$color: #0D69DF;

$disabledColor: #9B9B9B;

$backgroundColor: #0D69DF;

$btnBackgroundColor: #3B86FD;

$backgroundHoverColor: #E5F2FB;

$border-color: rgba(229,229,229,1);

$text-color: #666666 !default;
